* {
  /* display: flex; */
  background-color: transparent;
  flex-direction: column;
}


body, html * {
  z-index: 1;
    /* height: 100%; */
}


.main-container {
    background: url(../images/burger-on-blue-ceramic-plate-2015097.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh !important;
    background-color: rgba(0,0,0,.5);
    z-index: 0;
}

.header, .eaten, .create-form {
  text-align: center;
  color: white;
}


ul {
  height: auto;
  width: 400px;
  background: url(../images/texture-wall-floor-stone-8892.jpg);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

li {
  /* display: inline !important; */
  padding: 5px;
  margin: 5px;
  background: rgba(0,0,0,.05);
  border: 1px solid white;
  width: 90%;
  /* width: 1000px; */
  border-radius: 5px;
  list-style-type: none;
}
li button {

  width: auto;
  border-radius: 25px;
}
li button:hover {
  background-color: rgba(255,255,255,.5);
}

button {
  cursor: pointer;
  border: 1px solid rgba(255,255,255,.3);
  border-radius: 25px;
  margin-top: 10px;
  color: white;
  background-color: rgba(255,255,255,.05);
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.delete {
  text-align: right;
} 

input{
  background-color: white;
  opacity: 90%;
  border: none;
  border-radius: 5px;
}

input.active {
  opacity: 100%
}

button[type=submit]{
  background-color: red;
  border: none;
  border-radius: 5px;
  color: white
}